/* usage-levels */
.level-bar{
    height: 16px; /* horizontal width */
    width: 16px; /* vertical width */
    border-radius: 12px;
    margin: 0;
}
.level-fill{
    border-radius: 12px;
    border: none;
    box-shadow: none;
}
.usage-level StIcon{ icon-size: 22px; }
.usage-level StLabel{ width: 2.3em; }
  

/* Dash Board */
.db-dashboard{}
.db-dashboard-content{ margin: 20px; }
.db-dashboard .events-button{ margin: 0; }
.db-container{ spacing: 20px; }

/* user-box */
.db-user-icon{
    border-radius: 10px;
}
.db-user-box{}

/* clock-box */
.db-clock{ font-size: 2.4em; width: 3em; text-align: center; }
.db-day{ text-align: center; }
.db-date{ width: 6em; text-align: center; }

.db-dashboard .message-media-control{ padding: 8px; margin: 0;}
.db-dashboard .popup-menu-item{ padding: 8px; margin: 0;}

/* date-menu-mod */
#panel .panel-button.clock-display{
    -natural-hpadding: 0;
    -minimum-hpadding: 0;
}
.datemenu-calendar-column{ padding-left: 0; padding-right: 0; }

.datemenu-menu-box > .media-container{ padding: 20px; }

.datemenu-user{ padding-top: 30px; }
.datemenu-user > StButton{
    width: 160px;
    height: 160px;
    padding: 2px;
    border-radius: 99px;
    margin-bottom: 10px;
}
.datemenu-user > StButton > StWidget{ border-radius: 99px; }

.datemenu-greet{ margin-bottom: 16px; }

.datemenu-levels{ spacing: 8px; }

/* media */
.media-player{ padding: 16px; spacing: 8px }
.media-player .media-cover-normal{
    width: 180px;
    height: 180px;
}
.media-player .media-cover-compact{
    width: 50px;
    height: 50px;
}

/* player-ui */
.media-container{ spacing: 8px; }
.media-cover{ padding: 4px; border-radius: 0; }
.media-container .message-media-control{ padding: 6px; margin: 0; }
.media-container .message-media-control StIcon{ icon-size: 24px; }
.media-container .message-media-control:first-child StIcon,
.media-container .message-media-control:last-child StIcon,
.media-volume StIcon{ icon-size: 18px; }


/* power-menu */
.power-menu-panel-button:hover{ color: #f66151; }
.power-menu-panel-button:active{ color: #e01b24; }
.power-menu .button{ padding: 0; }

/* workspace-indicator */
.workspace-indicator StIcon{ margin: 0; }
.workspace-indicator StLabel{ margin: 0 8px; }
.workspace-indicator-active{ font-weight: 900; }
.workspace-indicator-inactive{ font-weight: 300; }

/* .quick-settings */
.quick-settings-main{ 
    padding: 0; 
    background-color: transparent;
    border: none; 
    box-shadow: none;
    spacing: 10px;
}
.quick-settings-main{ width: 420px; spacing: 10px; }
.quick-settings-main .quick-settings{ spacing: 10px; }
.quick-settings-main .quick-settings > .button{ border-radius: 14px;}
.quick-settings-main .quick-toggle,
.quick-settings-main .quick-power{ border-radius: 14px; }
.quick-settings-main .quick-toggle .quick-toggle-arrow{ border-radius: 0 14px 14px 0; }
.quick-settings-main .levels-container{ spacing: 10px; border-radius: 14px; padding: 8px; width: 120px; }
.quick-settings-main .system-actions .button{
    border-radius: 14px;
    margin: 0;
}
.quick-settings-main .system-actions StIcon { icon-size: 30px; }
/* system */
.quick-settings-main .quick-toggles-system{ spacing: 8px; }
.quick-settings-main .user-btn{ padding: 0; }
.quick-settings-main .user-icon{
    margin: 2px;
    min-width:  60px;
    min-height: 60px;
    border-radius: 99px;
}
.quick-settings-main .quick-toggles-system .icon-button{ padding: 0; }
.quick-settings-main .quick-toggles-system .icon-button StIcon{ icon-size: 2em; margin: 8px; }

/* media */
.quick-settings-main .media-cover{
    width: 120px;
    height: 120px;
}

/* slider */
.quick-settings-main .quick-slider .icon-button{ padding: 0; }
.quick-settings-main .quick-toggle-menu{ margin: 10px 0; }

/* quick-toggles */
.quick-settings-main .container{ spacing: 10px; }
.quick-settings-main .quick-toggle{
    min-width: 3em;
    min-height: 3em;
}
.quick-settings-main .quick-toggle > StBoxLayout { padding: 0; }
.quick-settings-main .quick-toggle StIcon{ icon-size: 1.8em; }
.quick-settings-main .quick-toggle-long > StBoxLayout > StIcon { padding-left: 1em; }
.quick-settings-main .quick-toggle-long > StBoxLayout > StLabel { padding-right: 1em; }
.quick-settings-main .usage-level{ spacing: 8px; }

.quick-settings-main .quick-toggle .wifi-menu{ margin: 0; }

/* bottom */
.quick-settings-main .quick-toggles-bottom{ padding: 0 1em; }
.quick-settings-main .quick-power StIcon{ icon-size: 1em; margin-right: 4px; }

/* notifications */
.quick-settings-main .message-list-clear-button{ padding: 4px 16px; }

/* notification-indicator */
.notification-indicator StIcon{
    padding: 0;
    margin: 0;
}
.notification-indicator > StBoxLayout{ spacing: 4px; }
.notifications .list{ margin-left: 8px; }
.notifications .header-box{ padding: 10px; }

/* .quick-settings */
.quick-settings-main{ 
    padding: 0; 
    background-color: transparent;
    border: none; 
    box-shadow: none;
    spacing: 10px;
}
.quick-settings-main{ width: 420px; spacing: 10px; }
.quick-settings-main .quick-settings{ spacing: 10px; }
.quick-settings-main .quick-settings > .button{ border-radius: 14px;}
.quick-settings-main .quick-toggle,
.quick-settings-main .quick-power{ border-radius: 14px; }
.quick-settings-main .quick-toggle .quick-toggle-arrow{ border-radius: 0 14px 14px 0; }
.quick-settings-main .levels-container{ spacing: 10px; border-radius: 14px; padding: 8px; width: 120px; }
.quick-settings-main .system-actions .button{
    border-radius: 14px;
    margin: 0;
}
.quick-settings-main .system-actions StIcon { icon-size: 30px; }

/* system */
.quick-settings-main .quick-toggles-system{ spacing: 8px; }
.quick-settings-main .user-btn{ padding: 0; }
.quick-settings-main .user-icon{
    margin: 2px;
    min-width:  60px;
    min-height: 60px;
    border-radius: 99px;
}
.quick-settings-main .quick-toggles-system .icon-button{ padding: 0; }
.quick-settings-main .quick-toggles-system .icon-button StIcon{ icon-size: 2em; margin: 8px; }

/* media */
.quick-settings-main .media-cover{
    width: 120px;
    height: 120px;
}

/* slider */
.quick-settings-main .quick-slider .icon-button{ padding: 0; }
.quick-settings-main .quick-toggle-menu{ margin: 10px 0; }

/* quick-toggles */
.quick-settings-main .container{ spacing: 10px; }
.quick-settings-main .quick-toggle{
    min-width: 3em;
    min-height: 3em;
}
.quick-settings-main .quick-toggle > StBoxLayout { padding: 0; }
.quick-settings-main .quick-toggle StIcon{ icon-size: 1.8em; }
.quick-settings-main .quick-toggle-long > StBoxLayout > StIcon { padding-left: 1em; }
.quick-settings-main .quick-toggle-long > StBoxLayout > StLabel { padding-right: 1em; }
.quick-settings-main .usage-level{ spacing: 8px; }

.quick-settings-main .quick-toggle .wifi-menu{ margin: 0; }

/* bottom */
.quick-settings-main .quick-toggles-bottom{ padding: 0 1em; }
.quick-settings-main .quick-power StIcon{ icon-size: 1em; margin-right: 4px; }

/* notifications */
.quick-settings-main .message-list-clear-button{ padding: 4px 16px; }