/* button */

.rocketbar__button {
    border-width: 0;
}
.rocketbar__button:hover,
.rocketbar__button:focus,
.rocketbar__button:active {
    background: rgba(0, 0, 0, 0.01);
}

/* tooltip */

.rocketbar__tooltip {
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
.rocketbar__tooltip StLabel:first-child {
    max-width: 500px;
}
.rocketbar__tooltip
.rocketbar__tooltip_counter {
    margin-left: 8px;
}
.rocketbar__tooltip
.rocketbar__tooltip_counter StIcon {
    height: 15px;
    width: 15px;
    color: rgba(255, 255, 255, 0.85);
}
.rocketbar__tooltip
.rocketbar__tooltip_counter StLabel {
    margin-left: 5px;
}

/* popup menu */

.rocketbar__popup-menu {
    /* shrink menu width as much as possible */
    max-width: 0px;
    min-width: 300px;
}
.rocketbar__popup-menu
.popup-separator-menu-item {
    font-size: 0.8em;
}
.rocketbar__popup-menu
.rocketbar__popup-menu_section-title {
    margin-top: 10px;
}
.rocketbar__popup-menu
.popup-menu-icon {
    margin-left: 10px;
}

/* date menu */

.rocketbar__date-menu {
    -natural-hpadding: 0;
    -minimum-hpadding: 0;
}

/* notification counter */

.rocketbar__notification-counter {
    font-weight: bold;
    text-align: center;
}