/* Battery Bar */
.battery-bar .level-bar{
    background-color: rgba(255,255,255,0.2);
    border-radius: 99px;
}
.battery-bar .level-fill{
    background-color: #62a0ea;
    color: black;
    border-radius: 99px;
}
.battery-bar:low .level-fill{
    background-color: #f66151;
}
.battery-bar:charging .level-fill{
    background-color: #33d17a;
}

/* Dash Board */
.db-dashboard{}
.db-dashboard-content{ margin: 20px; }
.db-dashboard .events-button{ margin: 0; }
.db-container{ spacing: 20px; }

/* user-box */
.db-user-icon{
  border-radius: 10px;
}
.db-user-box{}

/* levels-box */
.db-dashboard .usage-level StIcon{ icon-size: 22px; }
.db-dashboard .usage-level StLabel{ width: 2.2em; }
.db-dashboard .level-bar{
  height: 16px; /* horizontal width */
  width: 16px; /* vertical width */
  border-radius: 12px;
  margin: 0;
}
.db-dashboard .level-fill{
  border-radius: 12px;
}

/* media-box */
.db-dashboard .media-container{ spacing: 8px; }
.db-dashboard .media-cover{
    padding: 4px;
    border-radius: 0;
}
.db-dashboard .message-media-control{ padding: 6px; margin: 0; }
.db-dashboard .message-media-control StIcon{ icon-size: 24px; }
.db-dashboard .message-media-control:first-child StIcon,
.db-dashboard .message-media-control:last-child StIcon,
.db-dashboard .media-volume StIcon{ icon-size: 18px; }

/* clock-box */
.db-clock{ font-size: 2.4em; width: 3em; text-align: center; }
.db-day{ text-align: center; }
.db-date{ width: 6em; text-align: center; }

.db-dashboard .message-media-control{ padding: 8px; margin: 0;}
.db-dashboard .popup-menu-item{ padding: 8px; margin: 0;}

/* date-menu-mod */
#panel .panel-button.clock-display{
  -natural-hpadding: 0;
  -minimum-hpadding: 0;
}

/* media */
.media-player{ padding: 16px; }
.media-player,
.media-player .media-container{ spacing: 8px; }
.media-player .media-cover{
    padding: 4px;
    border-radius: 0;
}
.media-player .media-cover-normal{
    width: 180px;
    height: 180px;
}
.media-player .media-cover-compact{
    width: 50px;
    height: 50px;
}
.media-player .message-media-control{
    padding: 6px;
    margin: 0;
}
.media-player .message-media-control StIcon{ icon-size: 24px; }
.media-player .message-media-control:first-child StIcon,
.media-player .message-media-control:last-child StIcon,
.media-player .media-volume StIcon{ icon-size: 18px; }

/* controls */
.media-player-content .message-media-control{ padding: 8px; margin: 0;}
.media-player-content .message-media-control StIcon{ icon-size: 2em; }
.media-player-content .message-media-control:last-child StIcon{ icon-size: 1.6em; }
.media-player-content .message-media-control:first-child StIcon{ icon-size: 1.6em; }

/* power-menu */
.power-menu-button:hover{ color: #f66151; }
.power-menu-button:active{ color: #e01b24; }

/* content */
.power-menu-content{
    margin: 36px;
    spacing: 16px;
}
.power-menu .container{
    spacing: 16px;
}

/* round */
.power-menu .button-round-container{
    width: 120px;
    height: 130px;
}
.power-menu .button-round{
    padding: 0;
    border-radius: 50px;
}
.power-menu .button-round StIcon{
    icon-size: 50px;
    margin: 26px;
}

/* rectangle */
.power-menu .button-rectangle{
    padding: 0;
    width: 120px;
    height: 120px;
}
.power-menu .button-rectangle StIcon{
    icon-size: 70px;
}

/* workspace-indicator */
.workspace-indicator StIcon{ margin: 0; }
.workspace-indicator StLabel{ margin: 0 8px; }
.workspace-indicator-active{ font-weight: 900; }
.workspace-indicator-inactive{ font-weight: 300; }

/* .quick-settings */
.quick-settings-main{ 
    padding: 0; 
    background-color: transparent;
    border: none; 
    box-shadow: none;
    spacing: 10px;
}
.quick-settings-main .quick-settings{ width: 400px; spacing: 10px; }

.quick-settings-main .quick-settings > .button{ border-radius: 14px;}
.quick-settings-main .quick-settings .quick-toggle{ border-radius: 14px; }
.quick-settings-main .quick-settings .quick-toggle .quick-toggle-arrow{ border-radius: 0 14px 14px 0; }
.quick-settings-main .quick-settings .levels-container{ spacing: 10px; border-radius: 14px; padding: 8px; width: 120px; }

/* system */
.quick-settings-main .quick-settings .quick-toggles-system{ spacing: 8px; }
.quick-settings-main .quick-settings .user-btn{ padding: 0; }
.quick-settings-main .quick-settings .user-icon{
    margin: 2px;
    min-width:  60px;
    min-height: 60px;
    border-radius: 99px;
}
.quick-settings-main .quick-toggles-system .icon-button{ padding: 0; }
.quick-settings-main .quick-toggles-system .icon-button StIcon{ icon-size: 2em; margin: 8px; }

/* media */
.quick-settings-main .quick-settings .media-container{ spacing: 8px; }
.quick-settings-main .quick-settings .media-cover{
    width: 120px;
    height: 120px;
    padding: 0;
    border-radius: 0;
}
.quick-settings-main .quick-settings .media-cover StIcon{ icon-size: 116px; }
.quick-settings-main .quick-settings .message-media-control{
    padding: 6px;
    margin: 0;
}
.quick-settings-main .quick-settings .message-media-control StIcon{ icon-size: 24px; }
.quick-settings-main .quick-settings .message-media-control:first-child StIcon,
.quick-settings-main .quick-settings .message-media-control:last-child StIcon,
.quick-settings-main .quick-settings .media-volume StIcon{ icon-size: 18px; }

/* slider */
.quick-settings-main .quick-settings .quick-slider .icon-button{ padding: 0; }
.quick-settings-main .quick-settings .quick-toggle-menu{ margin: 10px 0; }

/* quick-toggles */
.quick-settings-main .quick-settings .quick-toggles-grid{ spacing: 10px; }
.quick-settings-main .quick-settings .hbox{ spacing: 10px; height: 180px; }
.quick-settings-main .quick-settings .quick-toggle{
    min-width: 3em;
    min-height: 3em;
}
.quick-settings-main .quick-settings .quick-toggle > StBoxLayout { padding: 0; }
.quick-settings-main .quick-settings .quick-toggle StIcon{ icon-size: 1.8em; }
.quick-settings-main .quick-settings .quick-toggle-long > StBoxLayout > StIcon { padding-left: 1em; }
.quick-settings-main .quick-settings .quick-toggle-long > StBoxLayout > StLabel { padding-right: 1em; }
.quick-settings-main .quick-settings .usage-level{ spacing: 8px; }

.quick-settings-main .quick-toggle .wifi-menu{ margin: 0; }

/* system-levels */
.quick-settings-main .quick-settings .usage-level StIcon{ icon-size: 22px; }
.quick-settings-main .quick-settings .usage-level StLabel{ width: 2.2em; }
.quick-settings-main .quick-settings .level-bar{
    height: 16px; /* horizontal width */
    width: 16px; /* vertical width */
    border-radius: 12px;
    margin: 0;
}
.quick-settings-main .quick-settings .level-fill{
    border-radius: 12px;
}

/* bottom */
.quick-settings-main .quick-settings .quick-toggles-bottom{ padding: 0 1em; }
.quick-settings-main .quick-settings .quick-power StIcon{ icon-size: 1em; margin-right: 4px; }

/* notifications */
.quick-settings-main .quick-settings .clear-button{
    padding: 4px 12px;
    margin: 0;
    border-radius: 10px;
}