/*
 * Add your custom extension styling here
 */

.light-dict-bar-boxpointer {
}

.light-dict-box-boxpointer {
    /* -arrow-rize: 30px; */
}

.light-dict-scroll:scrolled {
    max-height: 30em !important; /* min height to scroll */
}

.light-dict-content {
    padding: 0.4em;
    max-width: 40em !important; /* for text line wrap */
    font-size: 1.25em;
    border-radius: 0.4em;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(97, 97, 97, 1);
}

.light-dict-text {
    border-width: 0;
    border-style: dashed;
    border-bottom-width: 0.1em;
    border-color: rgba(0, 0, 0, 0.38);
}

.light-dict-content:error {
    color: rgba(255, 205, 205, 1);
}

.light-dict-iconbox {
    padding: 0;
}

.light-dict-button {
    padding: 0.5em 0.3em;
    font-weight: bold;
}

.light-dict-button:hover {
    border-width: 0;
    border-color: #3385ef;
    border-style: double;
    border-bottom-width: 0.2em;
    padding: 0.3em 0.3em 0.5em 0.3em;
}

.light-dict-button-icon {
    padding: 0 0.1em;
    icon-size: 2em;
}

.light-dict-tooltip {
}

