/* Add your custom extension styling here */
.pingindic-label {color : #FFE5CC; font-weight: bold;font-size: 12pt}
.pingindic-button-action { icon-size: 20px; }
.pingindic-button-box { padding: 0px; spacing: 22px; }
.pingindic-Btn-label {color : #0F050C; font-weight: bold;font-size: 16pt}
.pingindic-label-good {color : #00FF00; font-weight: normal;font-size: 12pt}
.pingindic-label-nogood {color : #FFFF00; font-weight: normal;font-size: 12pt}
.pingindic-label-bad {color : #FF0000; font-weight: bold;font-size: 12pt}
