.feedback-label {
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
    background-color: rgba(10,10,10,0.7);
    border-radius: 5px;
    padding: .5em;
}

.ci-notification-label {
    font-weight: bold;
    color: #ffffff;
    background-color: rgba(10,10,10,0.7);
    border-radius: 6px;
    font-size:2em;
    padding:.5em;
    width:400px;
}

.popup-menu-item .ci-action-btn StIcon {
    icon-size: 16px;
}

.popup-menu-icon-ornament {
    padding-left: 0.3em;
    padding-right: 0;
}


.ci-history-menu-section {
    max-height:740px;
}

entry:indeterminate {
    background-color: #20395a;
}

.object-dialog {
    border-radius: 9px;
    color: #eeeeec;
    background-color: rgba(23, 25, 26, 0.95);
    border: 3px solid rgba(238, 238, 236, 0.5);
}

.object-dialog .object-dialog-content-box {
    padding: 21px;
}
  .object-dialog .object-dialog-entry {
    width: 20em;
    margin-bottom: 6px;
}
  .object-dialog .object-dialog-error-box {
    padding-top: 16px;
}
  .object-dialog .object-dialog-button-box {
    padding-top: 1em;
}
  .object-dialog .object-dialog-label {
    font-size: 12pt;
    font-weight: bold;
    color: #d6d6d1;
    padding-bottom: .4em;
}

.object-dialog-item {
    padding: 0.4em;
}
.object-dialog-item-icon {
    padding-right: 0.4em;
}


.workspace-overlay {
    margin: 0px;
    padding: 0px;
}
.overlay-icon {
    margin: 2px;
}
.overlay-icon StIcon {
    color: ghostwhite;
    /*icon-shadow: 1em 1em 0px black;*/
    background-color: rgba(0, 0, 0, 0.2);
    border: 0.5px hidden black;
    border-radius: 40px;
    padding: 5px;
    margin: 0px;
}
.workspace-overlay .workset-label {
    margin: 0px;
    padding: 0px;
    font: small-caps bold 4em/4em;
    font-size: 2em;
    font-weight: bold;
    font-variant: unicase slashed-zero no-common-ligatures tabular-nums;
    font-feature-settings: "c2sc", "smcp";
    color: ghostwhite;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px hidden black;
    border-radius: 5px;
    /*text-shadow: 9px 12px 2px black;*/
     /*
        -20px 20px 0 red; BOTTOM LEFT
        -20px -20px 0 red; TOP LEFT
        20px 20px 0 red; BOTTOM RIGHT
        20px -20px 0 blue; TOP RIGHT
        Stacking these seemed to just use the first offsets and the last colour and stacking the blur, on a single shadow
     */
}



.open-backups-icon {
    padding-left: 1em;
}


.icon-button {
    padding: 0px;
    margin: 0px;
}
.icon-button StIcon {
    icon-size:16px;
}

.active-icon StIcon {
    icon-size:16px;
    color: green;
    background-color: rgba(0, 0, 0, 0.2);
    border: 3px hidden black;
    border-radius: 40px;
}


.bg-display {
    background-color: rgba(255, 255, 255, 0);
}
.bg-display:focus {
    color: black;
    background-color: rgba(255, 255, 255, 0.1);
}
.bg-display:hover {
    color: black;
    background-color: rgba(255, 255, 255, 0.1);
}