.task-widget-remove-calendar-margin:ltr {
  margin-right: 0;
}

.task-widget-remove-calendar-margin:rtl {
  margin-left: 0;
}

.task-widget-remove-task-box-padding {
  padding-left: 0;
  padding-right: 0;
}

.task-widget-column {
  margin: 0;
  padding: 0;
}

.task-widget-column .task-icon  {
  color: #bebebe;
}

.task-widget-column .task-cancelled {
  text-decoration: line-through;
}

.task-widget-column .calendar-month-header {
  margin-bottom: 10px;
}

.task-widget-column .subtask-label {
  font-size: 95%;
}

.task-widget-column .subtask-indicator {
  font-size: 1.3em;
  color: rgba(128, 128, 128, 0.7);
}

.task-widget-column .world-clocks-city:rtl {
  text-align: right;
}

/**
 * HACK: some of the overriden properties below are there to normalize looks in
 * custom Shell themes.
*/

.task-widget-column .calendar-month-header .pager {
  padding: 0;
}

.task-widget-column .world-clocks-city {
  font-weight: normal;
}

.task-widget-column .task-list-name {
  margin: 0;
  height: auto;
}

.task-widget-column .task-list-name:ltr {
  padding: 0 5px 0 0;
}

.task-widget-column .task-list-name:rtl {
  padding: 0 0 0 5px;
}

.task-widget-column .task-list-name-button {
  padding: 5px 10px;
  border: none;
  box-shadow: none;
  text-shadow: none;
  min-height: auto;
  color: inherit;
}

.task-widget-column .task-list-name-button:focus {
  border: 1px solid rgba(128, 128, 128, 0.5);
}

.task-widget-column .check-box * {
  padding: 0;
  margin: 0;
  min-height: auto;
  border-radius: 0;
}

.task-widget-column .check-box StBin {
  background-size: contain;
}