/* Add your custom extension styling here */

.rounded-menu-buttons {
  background-color: rgba(253, 125, 0, 0)
  }

.rounded-menu-buttons:hover, .rounded-menu-buttons:focus {
  background-color: rgba(255, 255, 255, 0.18);
  }
  
.rounded-menu-buttons:active {
  background-color: rgba(255, 255, 255, 0.3);
  }
