/* 
    I purposefully didn't write customization for this extnsion,
    because I recommend and encourage to write your own theme.

    While making your theme, here is a quick guide:

    #panel.floating is the panel selector the nonfloating panel
        when the extension is available makes it easier to
        write 2 seperate styles, when the extension is
        enabled and when it is not.

    #panel:floating is the panel selector for when it is floating.

    if you want your floating style to apply on overview:
        apply the same styleshet to #panel:floating and #panel:overview

    IMPORTANT!
        make sure the nonfloating and the floating styles both have
        the same allocated space, becuase it can and will crash your
        shell if they don't.

    You should delete this file when you write your theme.
    Anything written here will overwrite any theme applied through
        gnome-tweaks.
*/


#panel.floating { padding: 8px; }
#panel.floating .panel-button{
    margin-top: 8px;
    margin-bottom: 8px;
}
#panel.floating #panelLeft{ margin-left: 8px; }
#panel.floating #panelRight{ margin-right: 8px; }
#panel.floating:floating{
    border-radius: 16px;
    box-shadow: inset 0 0 0 0 transparent;
    border: 8px solid transparent;
    padding: 0;
}
