
    .dpt-panel-custom-unmaximized {
        background-color: rgba(30, 30, 46, 0.24);
    }

    .dpt.dpt-panel-custom-unmaximized .panel-corner {
        -panel-corner-background-color: rgb(30, 30, 46);
        -panel-corner-opacity: 0.24;
    }

    .dpt-panel-custom-maximized {
        background-color: rgba(30, 30, 46, 1.00);
    }

    .dpt.dpt-panel-custom-maximized .panel-corner {
        -panel-corner-background-color: rgb(30, 30, 46);
        -panel-corner-opacity: 1.00;
    }