.workspace-label {
  text-align: center;
  /*text-shadow: -2px -2px rgba(255,255,255,0.5);*/
  font-weight: bold;
  /*font-size: 15em;*/
  color: rgba(0, 0, 0, 0.4);
  background-color: rgba(0, 0, 0, 0.0);
  /*border: 50px;*/
}

.workspace-switcher-group {
  /*padding: 10px;*/
}

.workspace-switcher-container {
  border-radius: 10px;
  background-color: rgb(29, 29, 29);
  border: 1px solid;
  border-color:  rgb(53, 53, 53);
}

.workspace-switcher-custom {
  background: transparent;
  /*border: 1px solid rgba(0, 11, 170, 0.809);
  border-radius: 8px;*/
  spacing: 10px;
  padding: 0;
}

/* inactive switcher box */
.ws-switcher-box {
  background: transparent;
  height: 50px;
  background-size: 32px;
  border: 1px solid;
  border-color: rgb(53, 53, 53);
  border-radius: 8px;
  color: white;
}

/* active workspace box */
.ws-switcher-active-up,
.ws-switcher-active-down,
.ws-switcher-active-left,
.ws-switcher-active-right {
  height: 52px;
  background-color: rgb(0, 110, 255);
  border: 1px solid;
  border-radius: 8px;
  color: white;
}
