/* GNOME 42 IVORY */

/* main_bg: ivory */
/* base: #c2daf6 */
/* hover: #99c1f1 */
/* active: #85b5ef */
/* slider_red: #ec767c */

#overviewGroup{ background-color: /* #e0e9f4 */rgb(245, 245, 240);}
.workspace-animation{ background-color: rgb(245, 245, 240); }

#panelLeft .panel-button,
#panelLeft .clock{
  margin-left: 6px;
}
#panelRight .panel-button,
#panelRight .clock{
  margin-right: 6px;
}

#panel,
#panel:overview{
  background-color: ivory;
  height: 36px !important;
  box-shadow: none;
  margin: 8px;
  border: 2px solid black;
  border-radius: 12px;
}
.panel-button,
.clock{
  border-radius: 10px;
  border: none;
  box-shadow: none;
  color: black;
  background-color: #c2daf6;
  margin: 6px 0;
}
.panel-button:active,
.panel-button:overview, /* activites */
.panel-button:active.clock-display .clock{
  box-shadow: inset 0 0 0 2px transparent;
  background-color: #85b5ef;
  color: #000;
}
.panel-button:hover,
.panel-button:hover .clock{
  box-shadow: inset 0 0 0 2px transparent;
  background-color: #99c1f1;
}
/* clock fix */
.clock-display{
  background-color: transparent !important;
  box-shadow: none !important;
  border: none !important;
}
.clock{
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

/* POPOVERS */
.popup-menu-boxpointer {
  -arrow-rise: 10px;
}
.popup-menu-content{
  background-color: ivory;
  border: 2px solid black;
  border-radius: 16px;
  padding: 6px;
  color: black;
}
.popup-menu-item{
  border-radius: 10px;
  padding: 8px;
  color: black;
}
.popup-menu-item:hover,
.popup-menu-item:focus{
  box-shadow: inset 0 0 0 2px black;
  background-color: #85b5ef !important;
}
.popup-menu-item:active{
  background-color: #3584e4 !important;
}
/* submenu */
.popup-menu-item:checked{
  border: 2px solid black;
  border-bottom: none;
  background-color: #c2daf6 !important;
  border-radius: 10px 10px 0 0;
  box-shadow: none;
}
.popup-menu-item:checked:hover{
  box-shadow: inset 0 -2px 0 0 black;
  background-color: #85b5ef !important;
}
.popup-menu-item:checked:active{
  background-color: #3584e4 !important;
}
.popup-sub-menu{
  background-color: #c2daf6;
  border: 2px solid black;
  border-top: none;
  border-radius: 0 0 10px 10px;
}
.popup-sub-menu .popup-menu-item{
  box-shadow: none;
  border-radius: 0;
  border: 2px solid transparent;
  border-left: none;
  border-right: none;
  padding: 4px;

}
.popup-sub-menu .popup-menu-item:hover,
.popup-sub-menu .popup-menu-item:focus{
  border-color: black;
}
.popup-sub-menu .popup-menu-item:last-child{
  box-shadow: none;
  border-radius: 0 0 10px 10px;
  border-bottom: none;
}
.popup-separator-menu-item-separator{
  background-color: black;
}
/* calendar */
#calendarArea {
  padding: 0;
}
.datemenu-calendar-column{
  margin: 0px;
}
.datemenu-today-button{
  color: black;
}
.calendar{
  color: black;
  background-color: #c2daf6;
  border-radius: 10px;
  border: 2px solid black;
}
.calendar-month-label{
  color: black;
}
.pager-button:hover,
.pager-button:focus{
  background-color: #85b5ef;
  border-radius: 10px;
  box-shadow: inset 0 0 0 2px black;
}
.pager-button:active{
  background-color: #3584e4;
}
/* calendar-days */
.calendar-day-base{
  border-radius: 10px;
}
.calendar-day-base:hover,
.calendar-day-base:focus,
.calendar-day-base:active:hover,
.calendar-day-base:selected:hover{
  background-color: #85b5ef;
  box-shadow: inset 0 0 0 2px black;
}
.calendar-day-base:active,
.calendar-day-base:selected,
.calendar-today{
  background-color: #3584e4;
  color: black !important;
  box-shadow: inset 0 0 0 2px black;
}
.calendar-day-base.calendar-day-heading{ color: rgba(0,0,0,0.7); }
.calendar-nonwork-day{ color: rgba(0,0,0,0.6);}
.calendar-other-month-day{ color: rgba(0,0,0,0.3);}
.calendar-day-with-events{
  font-weight: 800;
  text-decoration: underline;
  background-image: none;
}
/* events */
.events-button,
.world-clocks-button,
.weather-button{
  color: black;
  background-color: #c2daf6;
  border-radius: 10px;
  border: 2px solid black;
  box-shadow: none;
}
.events-button:hover,
.events-button:focus,
.world-clock-button:hover,
.world-clock-button:focus,
.weather-button:hover,
.weather-button:focus{
  background-color: #85b5ef;
}
.events-button:active,
.world-clock-button:active,
.weather-button:active{
  background-color: #3584e4;
}
.events-title,
.event-time,
.world-clocks-header,
.weather-header{ color: rgba(0,0,0,0.6); }
.world-clocks-time,
.world-clocks-city,
.world-clocks-timezone,
.weather-forecast-time{ color: black;}

/* message-list */
.message{
  box-shadow: inset 0 0 0 2px black;
  background-color: #c2daf6;
  border-radius: 12px !important;
  color: black;
  margin: 4px;
}
.message-body{ color: black; }
.message-close-button{color: black; background-color: transparent;}
.message-close-button:hover{
  box-shadow: inset 0 0 0 2px black;
  background-color: #85b5ef;
  border-radius: 10px;
}
.message-close-button:active{ background-color: #3584e4;}

.message-media-control{ color: black; }
.message-media-control:insensitive{ color: rgba(0,0,0,0.3); }
.message-media-control:hover{
  box-shadow: inset 0 0 0 2px black;
  background-color: #85b5ef;
  border-radius: 12px;
}
.message-media-control:active{ background-color: #3584e4;}
.message-list-controls{ color: black; }

.toggle-switch{
  background-image: url("./toggle-on.svg");
  background-color: #c2daf6;
  border-radius: 12px;
  box-shadow: inset 0 0 0 2px black;
}
.toggle-switch:checked{
  background-image: url("./toggle-off.svg");
  background-color: #3584e4;
}
.button{
  box-shadow: inset 0 0 0 2px black;
  background-color: #c2daf6;
  border-radius: 12px;
  color: black;
}
.button:insensitive{
  color: rgba(0,0,0,0.3);
  box-shadow: none;
  background-color: transparent;
}
.button:hover{background-color: #85b5ef;}
.button:active{background-color: #3584e4;}

/* NOTIFICATIONS */
.notification-banner{
  margin-top: 8px;
  box-shadow: inset 0 0 0 2px black;
  background-color: ivory;
  border-radius: 12px;
  color: black;
}
.notification-button{
  box-shadow: inset 0 0 0 2px black;
  background-color: #c2daf6;
  border-radius: 8px !important;
  color: black;
  margin: 6px !important;
}
.notification-button:hover,
.notification-banner:active{ background-color: #85b5ef; }
.notification-button:active{ background-color: #3584e4; }

.slider,
.level {
  height: 18px;
  border-radius: 8px;
  color: ivory;
  -barlevel-height: 16px;
  -barlevel-background-color: rgba(53, 132, 228, 0.2);
  -barlevel-border-width: 2px;
  -barlevel-border-color: black;
  -barlevel-active-background-color: #85b5ef;
  -barlevel-active-border-color: black;
  -barlevel-overdrive-color: #ec767c;
  -barlevel-overdrive-border-color: black;
  -barlevel-overdrive-separator-width: 2px;
  -slider-handle-radius: 7px;
  -slider-handle-border-width: 0;
  -slider-handle-border-color: transparent;
}

/* overview-ws-thumbnail */
.workspace-thumbnail{
  border: 2px solid black;
  border-radius: 6px;
}
.workspace-thumbnail-indicator {
  border-color: #3584e4;
  border-width: 4px;
  border-radius: 9px;
}

/* APP-GRID */
.overview-icon{ color: black; }

.app-well-app:hover .overview-icon,
.app-well-app:focus .overview-icon,
.app-well-app:selected .overview-icon{
  box-shadow: inset 0 0 0 2px black;
  background-color: #85b5ef;
  border-radius: 12px;
}
.app-well-app.app-folder .overview-icon{
  box-shadow: inset 0 0 0 2px black;
  background-color: #c2daf6;
  border-radius: 12px;
}
.app-well-app.app-folder:hover .overview-icon{ background-color: #85b5ef; }
.app-well-app.app-folder:active .overview-icon{ background-color: #3584e4; }
.app-well-app:active .overview-icon{ background-color: #3584e4;}

/* DASH */
#dash .dash-background{
  border-radius: 99px;
  border: 30px solid transparent;
  border-top: none;
  border-bottom: none;
  box-shadow: inset 0 0 0 2px black;
  background-color: #c2daf6;
}
.dash-label {
  color: black;
  background-color: #c2daf6;
  border-radius: 8px;
  box-shadow: inset 0 0 0 2px black;
}
.app-well-app-running-dot {
  width: 10px;
  height: 5px;
  border-radius: 4px;
  background-color: rgba(0,0,0,0.7);
}
StWidget.focused .app-well-app-running-dot {
  width: 18px;
  background-color: #3584e4;
}
.show-apps .overview-icon{
  color: transparent;
  background-image: url(./show-app_crayon.png);
  background-size: 64px;
}
.show-apps:hover .overview-icon,
.show-apps:focus .overview-icon,
.show-apps:selected .overview-icon{
  box-shadow: inset 0 0 0 2px black;
  background-color: #85b5ef;
  border-radius: 12px;
}
#dash .app-well-app:hover .overview-icon,
#dash .app-well-app:focus .overview-icon,
#dash .app-well-app:selected .overview-icon{ background-color: #85b5ef; }
.show-apps:active .overview-icon,
.show-apps:checked .overview-icon,
#dash .app-well-app:active .overview-icon{
  border-radius: 12px;
  box-shadow: inset 0 0 0 2px black;
  background-color: #3584e4;
}

/* folder */
.app-folder-dialog{
  color: black;
  box-shadow: inset 0 0 0 2px black;
  background-color: ivory;
  border-radius: 12px;
}
.folder-name-label,
.folder-name-entry{color: black;}
.edit-folder-button{
  color: black;
  box-shadow: inset 0 0 0 2px black;
  background-color: #c2daf6;
  border-radius: 12px;
}
.edit-folder-button:hover{background-color: #85b5ef;}
.edit-folder-button:active{background-color: #3584e4;}

.page-indicator-icon{color:black;}

/* SEARCH */
StEntry{
  border: none;
  color: black;
  box-shadow: inset 0 0 0 2px black;
  background-color: snow;
  border-radius: 12px;
}
StEntry:hover, StEntry:focus, StEntry:active{ background-color: #85b5ef;}
.search-entry{color: black;}

.search-section-content{
  color: black;
  box-shadow: inset 0 0 0 2px black;
  background-color: #c2daf6;
  border-radius: 12px;
}

.list-search-result:focus, .search-provider-icon:focus,
.list-search-result:hover, .search-provider-icon:hover,
.list-search-result:selected, .search-provider-icon:selected{
  color: black;
  box-shadow: inset 0 0 0 2px black;
  background-color: #85b5ef;
  border-radius: 10px;
}
.list-search-result:active, .search-provider-icon:active{background-color: #3584e4;}
.list-search-result-description{color: rgba(0,0,0,0.5);}
.list-search-provider-details{color: black;}

/* OSD */
.workspace-switcher,
.switcher-list,
.resize-popup,
.modal-dialog,
.osd-window{
  color: black;
  box-shadow: none;
  border: 2px solid black;
  background-color: ivory;
  border-radius: 12px;
}
.ws-switcher-indicator{
  background-color: transparent;
  border: 2px solid black;
  border-radius: 12px;
  padding: 8px;
}
.ws-switcher-indicator:active{
  padding: 8px 14px;
  background-color: #3584e4;
  box-shadow: inset 0 0 0 2px ivory;
}
.switcher-list .item-box:hover,
.switcher-list .item-box:focus,
.switcher-list .item-box:selected{
  box-shadow: inset 0 0 0 2px black;
  background-color: #85b5ef;
  border-radius: 10px;
}
.switcher-arrow{color: black;}
.modal-dialog-linked-button {
  padding: 10px 0 !important;
  margin: 10px !important;
  color: black;
  box-shadow: inset 0 0 0 2px black;
  background-color: #c2daf6;
  border-radius: 10px;
}
.modal-dialog-linked-button:hover,
.modal-dialog-linked-button:focus,
.modal-dialog-linked-button:checked{
  background-color: #85b5ef;
}
.modal-dialog-linked-button:active{background-color: #3584e4;}
.nm-dialog-scroll-view{
  box-shadow: inset 0 0 0 2px black;
  background-color: #c2daf6;
  border-radius: 10px;
}
.nm-dialog-item:selected{
  color: black;
  box-shadow: inset 0 0 0 2px black;
  background-color: #85b5ef;
  border-radius: 10px;
}

/* ws-bar */
.desktop-label-nonempty-active,
.desktop-label-empty-active,
.desktop-label-nonempty-inactive, 
.desktop-label-empty-inactive {
  margin: 0 2px;
  width: 12px;
  height: 12px;
  font-size: 0;
  border-radius: 7px;
  border: 2px solid black;
}
.desktop-label-nonempty-active,
.desktop-label-empty-active{
  box-shadow: inset 0 0 0 2px ivory;
  background-color: black;
}

.just-perfection-api-workspace-background-radius-size8 .workspace-background { box-shadow: none !important; border: 2px solid black !important; }
.just-perfection-api-workspace-background-radius-size9 .workspace-background { box-shadow: none !important; border: 2px solid black !important; }
.just-perfection-api-workspace-background-radius-size10 .workspace-background { box-shadow: none !important; border: 2px solid black !important; }
.just-perfection-api-workspace-background-radius-size11 .workspace-background { box-shadow: none !important; border: 2px solid black !important; }
.just-perfection-api-workspace-background-radius-size12 .workspace-background { box-shadow: none !important; border: 2px solid black !important; }
.just-perfection-api-workspace-background-radius-size13 .workspace-background { box-shadow: none !important; border: 2px solid black !important; }
.just-perfection-api-workspace-background-radius-size14 .workspace-background { box-shadow: none !important; border: 2px solid black !important; }
.just-perfection-api-workspace-background-radius-size15 .workspace-background { box-shadow: none !important; border: 2px solid black !important; }
.just-perfection-api-workspace-background-radius-size16 .workspace-background { box-shadow: none !important; border: 2px solid black !important; }
.just-perfection-api-workspace-background-radius-size17 .workspace-background { box-shadow: none !important; border: 2px solid black !important; }
.just-perfection-api-workspace-background-radius-size18 .workspace-background { box-shadow: none !important; border: 2px solid black !important; }
.just-perfection-api-workspace-background-radius-size19 .workspace-background { box-shadow: none !important; border: 2px solid black !important; }
.just-perfection-api-workspace-background-radius-size20 .workspace-background { box-shadow: none !important; border: 2px solid black !important; }
.just-perfection-api-workspace-background-radius-size21 .workspace-background { box-shadow: none !important; border: 2px solid black !important; }
.just-perfection-api-workspace-background-radius-size22 .workspace-background { box-shadow: none !important; border: 2px solid black !important; }
.just-perfection-api-workspace-background-radius-size23 .workspace-background { box-shadow: none !important; border: 2px solid black !important; }
.just-perfection-api-workspace-background-radius-size24 .workspace-background { box-shadow: none !important; border: 2px solid black !important; }