.value-net {
    padding-left: 3px;
    font-size: 10px;
    text-align: right;
    min-width: 5em;
}

.tophat-meter {
    height: 20px;
    margin: 4px 0;
    border: solid 1px rgba(100, 100, 100, 0.4);
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.2);
}

.tophat-meter-bar {
    height: 0;
    margin: 0 1px 0 0;
    border-radius: 1px;
}

.tophat-meter-bar:last-child {
    margin-right: 0;
}

.tophat-panel-icon {
    margin: 0 1px;
    padding-left: 0;
}

.tophat-panel-icon-net {
    margin: 2px 1px;
}

.tophat-menu-button-box {
    padding: 10px 0 0 0;
    spacing: 20px;
}

.tophat-menu-button-box > StButton {
    border-radius: 32px;
    margin: 0px;
    padding: 10px;
    min-height: 22px;
    min-width: 22px;
}

.chart {
    margin: 6px 6px 6px 6px;
    border: solid 1px #555;
    height: 60px;
    width: 230px;
    /* border-radius: 4px; */
}

.chart-label-then {
    font-size: 0.7em;
    /* color: #aaa; */
    text-align: left;
    padding: 0 6px 12px 6px;
}

.chart-label-now {
    font-size: 0.7em;
    /* color: #aaa; */
    text-align: right;
    padding: 0 6px 12px 6px;
}

.menu-grid {
    /* color: #ddd; */
    margin: 3px 3px 12px 3px;
    padding: 0;
    width: 244px;
    max-width: 244px;
}

.menu-header {
    /* color: #777; */
    text-align: center;
    font-weight: bold;
    font-size: 0.9em;
    padding: 6px;
}

.menu-label {
    font-size: 0.9em;
    padding: 3px 6px;
    text-align: left;
}

.menu-value {
    font-size: 0.9em;
    padding: 3px 6px;
    text-align: right;
}

.menu-cmd-name {
    font-size: 0.8em;
    text-align: left;
    padding: 3px 3px 3px 6px;
    width: 160px;
}

.menu-cmd-usage {
    font-size: 0.8em;
    text-align: right;
    padding: 3px 6px 3px 0;
}

.menu-mem-usage {
    font-size: 0.8em;
    text-align: right;
    padding: 3px 6px 3px 0;
    width: 4em;
}

.problem-header {
    margin: 8px;
    /* color: #ddd; */
    font-weight: bold;
    max-width: 15em;
}

.problem-msg {
    margin: 8px;
    /* color: #ddd; */
    max-width: 15em;
}

.problem-details-header {
    margin: 8px 8px 2px 8px;
    text-align: center;
    /* color: #777; */
}

.problem-details {
    margin: 8px;
    /* color: #777; */
    max-width: 15em;
}
