/*
* V-Shell (Vertical Workspaces)
* stylesheet.css
*/

/* General dash */
#dash.vertical {
	margin-right: 0px;
	margin-left: 0px;
	padding: 0px 0;
}

#dash.vertical .app-well-app,
#dash.vertical .show-apps {
	padding-right: 8px;
	padding-left: 8px;
	/*spacing between icons*/
	padding-top: 1px;
	padding-bottom: 1px;
	margin: 0px;
}

#dash.vertical .dash-separator {
	height: 1px;
	margin-right: 2px;
	margin-left: 2px;
	margin-top: 4px;
	margin-bottom: 4px;
	background-color: transparentize(#eeeeec, 0.7);
}

#dash.vertical .overview-icon {
	padding: 5px 0;
}

#dash.vertical .app-well-app-running-dot {
	margin: 4px 0px;
	width: 2px;
	height: 16px;
}

#dash.vertical .dash-background {
	margin: 0;
}

#dash.vertical-left .dash-background {
	border-radius: 0 18px 18px 0;
	border-left: 0px;
	padding: 8px 12px 8px 4px;
}

#dash.vertical-right .dash-background {
	border-radius: 18px 0 0 18px;
	border-right: 0px;
	padding: 8px 4px 8px 12px;
}

/* default horizontal dash */
.v-shell-dash-background {
	padding: 6px;
}

.app-well-app {
	margin-left: 1px;
	margin-right: 1px;
}

.app-well-app-running-dot {
	margin-bottom: 6px;
	width: 16px;
	height: 2px;
}

/* add shadow to the app grid app label to be readable if it overlaps light icon below */
.overview-icon-with-label {
    text-shadow: 1px 1px 3px rgba(33, 33, 33, 1);
}

/*adjustment for the vertical ws switcher indicator popup*/
.ws-switcher-indicator {
	padding: 3px;
	margin: 5px;
}

.ws-switcher-indicator:active {
	  padding: 5px;
	  margin: 3px;
}

/*ws thumbnails captions*/
.ws-tmb-label {
	padding: 2px;
	color: rgb(255, 255, 255);
	background-color: rgba(10,10,10,0.8);
	text-align: center;
}

.workspace-thumbnail-indicator {
	border-radius: 6px;
}

.ws-tmb-labeled {
	border: 0px;
}

/*app grid page indicatos*/
.page-indicator-icon {
	margin: 10px 10px 10px 10px;
}

.page-indicator {
	padding: 0px;
}

/* GS 43 App Grid - indicators that show up when dragging icon */
.prevPageIndicator {
	background: rgba(255, 255, 255, 0.1);
	background-gradient-start: rgba(255, 255, 255, 0.1);
	background-gradient-end: transparent;
	background-gradient-direction: vertical;
	border-radius: 100px 100px 0px 0px;
}
.nextPageIndicator {
	background: rgba(255, 255, 255, 0.1);
	background-gradient-start: transparent;
	background-gradient-end: rgba(255, 255, 255, 0.1);
	background-gradient-direction: vertical;
	border-radius: 0px 0px 100px 100px;

}

.search-entry, .search-entry-om2 {
	padding: 5px;
}

.search-entry-om2 {
	border: 5px;
}

.search-section-content {
	background-color: rgba(20, 20, 20, 0.8);
	color: white;
}

/* for static ws mode */
.search-section-content-om2 {
	background-color: rgba(20, 20, 20, 0.95);
	color: white;
	border-radius: 20px;
	border: 1px, rgb(40, 40, 40);
	padding-top: 12px;
}

/* "no results" / "searching..." text*/
.search-statustext {
	background-color: rgba(23,23,23, 0.95);
	color: white;
	margin-top: 50px;
	padding: 30px;
	border-radius: 20px;
	text-shadow: 0px 0px 5px rgb(23, 23, 23);
}

.transparent-panel {
	background-color: transparent;
}

/*reduce spacing between app icons in search results*/
.grid-search-results {
	spacing: 2px;
}

.panel {
	text-shadow: 1px 1px 3px rgba(33, 33, 33, 1);
}

/* hide vertical scroll bar, it's distracting in the search results */
StButton#vhandle {
	background-color: transparent;
}

.show-apps-icon-horizontal-hide {
	width: 0;
    margin: 0;
    spacing: 0;
}

.show-apps-icon-vertical-hide {
	height: 0;
    margin: 0;
    spacing: 0;
}

.workspace-close-button {
	color: white;
	background-color: dimgrey;
	width: 18px;
	height: 18px;
	padding: 2px;
	margin: 2px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
	border: 0px;
	border-radius: 35px;
}

.workspace-close-button-hover {
	background-color: rgb(255, 0, 0);
}

/* ws tmb placeholder */
.placeholder-vertical {
    background-size: contain;
    height: 18px;
}

/* reduce size of hot corner ripples to half */
.ripple-box {
	width: 26px;
	height: 26px;
}

.osd-window {
	margin: 4em;
}
